<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<div class="container">
<div class="main">
  <form class="form" method="post" action="#" name="mentee">
  <h2>ADD Mentee</h2>
  <label>Mentee Name :</label><br></br>
  <input type="text" name="menteename" id="menteename"><br></br>
  <label>Application :</label><br></br>
  <input type="text" name="application" id="apploication"><br></br>
  <label>Portfolio :</label><br></br>
  <input type="text" name="portfolio" id="portfolio"><br></br>
  <label>Logical Mapping</label><br></br>
  <input type="text" name="logicalMapping" id="logicalMapping"> <br></br>
  <button type="submit" name="save" id="save" value="save">SAVE</button>
  <div class="alert alert-success" id="info"></div>
    </form>
</div>

</div>

</body>
</html>